:root {
  /* colours */
  --clr-primary-100: hsl(22, 89%, 52%);
  --clr-primary-200: hsl(22, 100%, 69%);

  --clr-neutral-100: hsl(220, 50%, 17%);
  --clr-neutral-200: hsl(221, 23%, 58%);
  --clr-neutral-300: hsl(198, 28%, 93%);
  --clr-neutral-400: hsl(0, 0%, 100%);

  /* typography */
  --ff-primary-100: "Barlow", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-family: var(--ff-primary-100);
}

main {
}

h1 {
  font-size: var(--fs-800);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-black);
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-700);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-extra-bold);
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  margin-bottom: 0.72em;
}

p {
  font-size: var(--fs-400);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-medium);
  text-align: center;
}

.img-wrapper {
  background-color: var(--clr-primary-100);
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 1em;
}

article.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  padding: 0 1em 0 1em;
}
